/* Universal Styles */

html{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  margin: 0;
}


/* hide mobile content */
.mobile-nav{
  display: none;
}
.information-mobile{
  display: none;
}

/* Header */
header{
  display: flex;
  background-color: lightgray;
  color: black;
  position: fixed;
  width: 100%;
  height: 4rem;
  /* margin: 0 auto; */
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.logo{
  display: flex;
  color: white;
  align-items: center;

}

.logo h2{
  font-weight: 400;
}

.logo h2 span{
  color: red;
}
.logo img{
  height: 2rem;
}

.desktop-nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-left: 1rem;
    font-weight: 200;
}

.desktop ul{
  display: flex;
}

/* Main Content */
.main_content{
  top: 4rem;
  position: relative;
}



/* First section */
.learn_something .container{
  display: flex;
  background-color: rgb(118, 131, 129);
}
.learn_something .content{
  width: 40%;
  padding-top: 3rem;
}
.learn_something .content h1{
  font-style: bolder;
  font-size: 3.5rem;
}
.learn_something .content h4{
  font-style: bolder;
  font-size: 2rem;
}
.learn_something .image-container{
  margin: 2rem 1.5rem;
  width: 60%;
  overflow: hidden;

}
.learn_something .image-container img{
  display: block;
  width: 100%
}

      /* button */
      /* add timing and transitions to the button */
.start-here {
  border-radius: .25rem;
  background-color: black;
  color: white;
  padding: .5rem 10rem;
}
    /* first section - mobile app */
@media only screen and (max-width: 760px){
  .desktop-nav{
    display: none;
  }
  .mobile-nav{
    display: flex;
  }
}





/* Second Section */
.practicing{
  background-color: grey;
}
.content-container{
  display: flex;
  justify-content: space-between;
}
.content-container .container{
  width: 60%;
  display: flex;
  flex-direction: column;
  /* padding: 2rem 1.5rem; */
}
.content-container .container .image-container{
  width: 100%;
  overflow: hidden;
}
.content-container .container .image-container img{
  width: 100%;
  margin: 2rem 1.5rem;
}
.content-container .container .content{
  padding: 0 2rem 2rem 2rem;
}
.content-container .container .content h1{
  font-weight: 900;
  font-size: 2rem;
}
.content-container .container .content p{
  margin: 1.5rem auto;
}
.information-desktop{
  display: flex;
  width: 40%;
  border-left: 1px black solid;
  flex-direction: column;
}

.info{
  display: flex;
  border: 1px white solid;
}
.info .content{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}
.info .content .link a{
  padding-top: 1rem;
  color: blue;
}
.info .image-container{
  overflow: hidden;
  width: 35%;
  display: block;
}
.info .image-container img{
  width: 100%;
  padding: 1rem;
}



/* Third Section */

.start-learning .container{
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  padding: 2rem 4.5rem;
}
